<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <h1>Welcome on HomePage</h1>
    <h2>Commments</h2>

    <ul>
        <%for(c of comments){%>
            <li>
                <%=c.comment%>-- <b>
                        <%=c.username%>
                    </b>
                    <a href="/comments/<%=c.id%>">show</a>
            </li>
            <%} %>
    </ul>

    <!-- <form action="/request" , method="post">
        <button>Post Request</button>
    </form>  -->
    <a href="/comments/new">add a new comment</a>
</body>

</html>