<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>Displaying Comments </h1>
    <h2>
        <%=foundComment.comment%>--<b>
                <%=foundComment.username%>
            </b>
    </h2>

    <a href="/comments">back to index</a>
    <br>
    <a href="/comments/<%=foundComment.id%>/edit">edit</a>

</body>

</html>